aichallenge_ws/src/region_tlr_effnet/data/cudnn/lib64/libcudnn_static.a
aichallenge_ws/src/region_tlr_effnet/data/cudnn/lib64/libcudnn.so.7.6.5
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libcudnn.so
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libcudnn.so.7
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libcudnn_static_v7.a
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libcudnn_static.a
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libtorch.so
aichallenge_ws/src/region_tlr_effnet/data/libtorch/lib/libcudnn.so.7.6.5
.git/objects/48/66281ba7a8556a2403fac2f8ec745de87125da
.git/objects/f4/2e44f7d75feb786e5b992b9e8e135138c62c2b
.git/objects/94/c6a1274943748530d0d98f6a044596919f7f37
.git/objects/d9/6fcfbc82fd4dce09329e6e5e580ad8ff5d005a
.git/objects/pack/pack-368efb0e616e5f21f237b51d673594aab5635a0b.pack
.git/objects/07/bb764070f00b8f39ac74f78ab20893a65e3adc
.git/objects/fb/9e7b545e939aa9589411d993d6f89f67a4f0d4
